/* NavigationBar */
.rounded_logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

/* Popup image styling */
.img-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35vw;
  max-width: 1000px;

  border: 4px solid #ffffff;
  padding: 10px;
  background-color: #000;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;
}

/* Optional background overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#dogs h2, #cats h2 {
    text-decoration: underline;
}

article img {
    border: 2px solid #333;
    padding: 2px;
}

figure figcaption { 
    color: gray;
    font-style: italic;
    text-align: relative;
}

footer.container {
  border-top: 1px solid #ccc;   /* top border */
  text-align: center;           /* centered content */
  font-style: italic;           /* italic text */
  font-size: 0.9em;             /* slightly smaller font */
  padding: 12px 0;
  margin-top: 20px;
}

